<div class="d-flex justify-content-center align-items-center  flex-column gap-1-0 h-100 w-100">
    <div class="d-flex flex-column gap-1-0 w-50">
        <img src="../../../assets/images/To_do_logo.png" alt="" style="height: 150px; width: 150px;">
        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput>
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-label>password</mat-label>
            <input matInput [type]="hide() ? 'password' : 'text'" />
            <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide()">
                <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </div>

</div>