/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */

@use 'bootstrap/scss/bootstrap';

@use './assets/styles/utility-styles.scss';
@use './assets/styles/user-animation.scss';
@use './assets/styles/user-material-theme.scss';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}